<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692919745933-vngdr9i4cg7fevua03r2hl1pkosluaop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692919745933-vngdr9i4cg7fevua03r2hl1pkosluaop</string>
	<key>API_KEY</key>
	<string>AIzaSyAzKuWiGfLaTzcgdh0w8PI0x8-3YZfhByg</string>
	<key>GCM_SENDER_ID</key>
	<string>692919745933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayurparmar.app.GoogleMobileAds</string>
	<key>PROJECT_ID</key>
	<string>mobileads-4adca</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileads-4adca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692919745933:ios:92e11d39f55a10cfd0d1c4</string>
	<key>DATABASE_URL</key>
	<string>https://mobileads-4adca.firebaseio.com</string>
</dict>
</plist>